services:
  app:
    build:
      context: .
    healthcheck:
      test: curl --fail http://app:8080/ || exit 1
      interval: 10s
      timeout: 30s
      retries: 3
      start_period: 15s
  nginx:
    build:
      context: ./nginx
    ports:
      - 80:80
    depends_on:
      app:
        condition: service_healthy
